[submodule "machine_learning_c"]
	path = machine_learning_c
	url = ./machine_learning_c
[submodule "machine_learning_rust"]
	path = machine_learning_rust
	url = ./machine_learning_rust/
[submodule "machine_learning_python"]
	path = machine_learning_python
	url = ./machine_learning_python
[submodule "linear_regression_javascript"]
	path = linear_regression_javascript
	url = ./linear_regression_javascript
